
<h1>Welcome to the Auction Site.</h1>

<h2>Enter your name and email address to get started.</h2>


<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>	
<br>

	<%= f.label :email%>
	<%= f.text_field :email %>


<% end %>




<!-- 

<h2>List of Users</h2>

<ul>
	
	<% @users.each do |user| %>
		<li><%= user.name %></li>

		<% end %>



</ul> -->