<h1><%= @concert.artist %></h1>
<ul>
	<li><%= @concert.city %></li>
	<li><%= @concert.venue %></li>
	<li><%= @concert.date %></li>
	<li><%= @concert.price %></li>
	<li><%= @concert.description %></li>
</ul>