<h1><%= @word_count %></h1>

<h2><%= @text %> </h2>

<h2>At a rate of 275 words per minute, your text takes <%= @word_count/4.58.round %> seconds to read.</h2>

<h2><%= @sorted[0] %> </h2>
<h2><%= @sorted[1] %> </h2>
<h2><%= @sorted[2] %> </h2>
<h2><%= @sorted[3] %> </h2>
<h2><%= @sorted[4] %> </h2>
<h2><%= @sorted[5] %> </h2>
<h2><%= @sorted[6] %> </h2>
<h2><%= @sorted[7] %> </h2>
<h2><%= @sorted[8] %> </h2>
<h2><%= @sorted[9] %> </h2>

<a href="/">Home</a>	